<!--=========== Cards  ========-->
<section id="dashboardSection" class="section">
    <div class="cardBox">

        <div class="card">
            <div>
                <div class="numbers">504</div>
                <div class="cardName">Number of Employee</div>
            </div>
            <div class="iconBx">
                <ion-icon name="eye-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers"> 20</div>
                <div class="cardName">Recent Added </div>
            </div>
            <div class="iconBx">
                <ion-icon name="cart-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">280</div>
                <div class="cardName">Paid</div>
            </div>
            <div class="iconBx">
                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">$7,842</div>
                <div class="cardName">Wallet</div>
            </div>
            <div class="iconBx">
                <ion-icon name="cash-outline"></ion-icon>
            </div>
        </div>
    </div>

    <!--=========== order Detail list ========-->
    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>Employee list </h2>
                <a href="#" class="btn">View All</a>
            </div>

            <table>
                <thead>
                    <tr class="table-cell">
                        <td>Name</td>
                        <td>Salary</td>
                        <td>Payment</td>
                        <td>Status</td>
                    </tr>
                </thead>

                <tbody>
                    <tr class="table-cell">
                        <td>Akpan Emmanuel</td>
                        <td>$1200</td>
                        <td>Paid</td>
                        <td><span class="status delivered">Sent</span></td>
                    </tr>


                    <tr class="table-cell">
                        <td>joy mary</td>
                        <td>$2000</td>
                        <td>Due</td>
                        <td><span class="status pending">Pending </span></td>
                    </tr>

                    <tr class="table-cell">
                        <td>joe Jame</td>
                        <td>$1200</td>
                        <td>Paid</td>
                        <td><span class="status return">Sent</span></td>
                    </tr>

                    <tr class="table-cell">
                        <td>David Stone</td>
                        <td>$600</td>
                        <td>due</td>
                        <td><span class="status progress">in Progress</span></td>
                    </tr>

                    <tr class="table-cell">
                        <td>John Snow</td>
                        <td>$1200</td>
                        <td>Paid</td>
                        <td><span class="status delivered">Sent</span></td>
                    </tr>


                    <tr class="table-cell">
                        <td>Tobi</td>
                        <td>$3000</td>
                        <td>Due</td>
                        <td><span class="status pending">Pending </span></td>
                    </tr>

                    <tr class="table-cell">
                        <td>Adam stone</td>
                        <td>$1200</td>
                        <td>Paid</td>
                        <td><span class="status return">Sent</span></td>
                    </tr>

                    <tr class="table-cell">
                        <td>Emmanul Joy</td>
                        <td>$6000</td>
                        <td>due</td>
                        <td><span class="status progress">in Progress</span></td>
                    </tr>
                </tbody>

            </table>
        </div>

        <!--=========== New Cusomers========-->
        <div class="recentCustomers">
            <div class="cardHeader">
                <h2>Recent Added</h2>
            </div>
            <table>
                <tr class="table-cell">
                    <td width="60px">
                        <div class="imgBx"><img src="{{ url_for('static', filename='img/testimonials-3.jpg') }}" alt=""></div>
                        
                    </td>
                    <td>
                        <h4>joy <br> <span>Nigeria</span></h4>
                    </td>
                </tr>

                <tr class="table-cell">
                    <td width="60px">
                        <div class="imgBx"><img src="{{ url_for('static', filename='img/testimonials-1.jpg') }}" alt=""></div>
                    </td>
                    <td>
                        <h4>Emmanuel <br> <span>Nigeria</span></h4>
                    </td>
                </tr>
                <tr class="table-cell">
                    <td width="60px">
                        <div class="imgBx"><img src="{{ url_for('static', filename='img/testimonials-2.jpg') }}" alt=""></div>
                    </td>
                    <td>
                        <h4>peace <br> <span>Nigeria</span></h4>
                    </td>
                </tr>

                <tr class="table-cell">
                    <td width="60px">
                        <div class="imgBx"><img src="{{ url_for('static', filename='img/testimonials-3.jpg') }}" alt=""></div>
                    </td>
                    <td>
                        <h4>joy <br> <span>Nigeria</span></h4>
                    </td>
                </tr>

                <tr class="table-cell">
                    <td width="60px">
                        <div class="imgBx"><img src="{{ url_for('static', filename='img/testimonials-1.jpg') }}" alt=""></div>
                    </td>
                    <td>
                        <h4>david <br> <span>Nigeria</span></h4>
                    </td>
                </tr>

                <tr class="table-cell">
                    <td width="60px">
                        <div class="imgBx"><img src="{{ url_for('static', filename='img/testimonials-2.jpg') }}" alt=""></div>
                    </td>
                    <td>
                        <h4>temi <br> <span>Nigeria</span></h4>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>