<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <title>PAYROLL Home Page</title>
    
</head>
<body>
  

   <header class="header">
    <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages">
            {% for message in messages %}
                <li class="flash-message">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    </div>
    <a href="{{ url_for('auth.index') }}" class="logo">PAYROLL</a>
    <!-- nav links -->
    <nav class="navbar">
        <a href="{{ url_for('auth.index') }}">home</a>
        <a href="{{ url_for('main.about') }}">about</a>
        <a href="{{ url_for('main.partners') }}">partners</a>
        <a href="{{ url_for('main.pricing') }}">pricing</a>
        <a href="{{ url_for('main.contact') }}">contact</a>
    </nav>
    <a href="{{ url_for('auth.signin') }}" class="btn">sign in</a>
   </header>
   <section class="home" id="home">
    <div class="content">
      <h1>ASCENTREE PAYROLL SYSTEM</h1>
      
      <p>Redefining the future of businesses</p>
      <a href="{{ url_for('auth.signup') }}" class="btn">sign up</a>
    </div>
  </section>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>
